@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --first-color: 78, 81, 102;
    --second-color: 253, 45, 1;
    --third-color: 255, 215, 215;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgba(var(--first-color), 1);
}

body {
    min-height: 100vh;
    min-width: fit-content;
    
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section.row {
    display: flex;
    width: 100%;
  }

@media (max-width:1025px) {
    section.row {
        flex-direction: column;
    }
}

main {
    width: 100%;
    height: 100vh;
}

img {
    width: 100%;
}

.logo-groupomania {
    width: 300px;
    padding: 0 25px;
}

.logo-groupomania-1-2 {
    width: 500px;
    padding: 0 25px;
    margin-bottom: -30px;
}

.user-default-image {
    width: 2.1rem;
    height: 2.1rem;
}

.admin-image {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
}

.admin-form {
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}



.navbar {
    width: 100%; /* Full-width */
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(var(--first-color), 1);
    overflow: auto; /* Overflow due to float */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 7px;
  }
  
  .navbar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 33%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white !important; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
  .navbar a:hover {
    background-color: #3d4050; /* Add a hover color */
    color: white;
  }
  
  .navbar .active {
    background-color: #2b2c38; /* Add an active/current color */
    color: white !important;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }




.bg-light-grey {
    background-color: #F0F2F5;
}

/*.light-background {
    background-color: white;
}*/

.dark-image-background {
    color: white;
    background: url(../../frontend/public/team-groupomania-1920x1281.jpg) rgba(var(--first-color), 0.7);
    background-size: cover;
    background-blend-mode: multiply;
}
  
.column {
    flex: 50%;
    width: 100%;
    padding: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

@media (max-width:480px) {
    .column {
        padding: 3rem;
    }
} 

.column_image-title {
    align-items: center;
    justify-content: center;
}

.groupomania-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.column_form {
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;
    flex-grow: 1;
    /*padding-bottom: 1rem;*/
}

a, a:visited {
    color: black;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding: 0.25rem;
  border-radius: 2rem;
  border-color: rgba(var(--first-color), 1);
}

h1 {
    text-align: center;
}

h1.form-title{
    margin-bottom: 16px;
}

p.form-redirection{
    text-align: center;
    margin-top: 16px;
}

label,
button {
  padding: 0.5rem 0.7rem;
}

button {
  background-color: rgba(var(--first-color), 1);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #3d4050;
    transform: scale(1.05);
}

li {
    list-style-type: none;
}

ul{
    list-style: none;
  }
  
a {
text-decoration: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.icone-a-gauche {
    margin-right: 10px;
}

.icone-a-droite {
    margin-left: 10px;
}




.section-bienvenue {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px 50px 50px;
}





.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    width: 55%;
    margin:  0 50px 50px 50px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media (max-width:1025px) {
    .post {
        width: 80%;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
        -moz-transform: translateY(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
     }
    }

.create-post__div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width:560px) {
    .create-post__div {
        flex-direction: column;
        align-items: center;
    }

    .label-image-upload {
        display: flex;
        padding-bottom: 16px !important;
    }

    .default-css-add-file {
        margin-left: 10px;
    }
}

.create-post__message {
    padding-bottom: 16px;
}

.create-post__user-image {
    width: 10%
}

.create-post__text {
    padding: 0;
}

.create-post__text textarea {
    background-color: #F0F2F5;
    border-color: none;
    border-radius: 8px;
    width: 100%;
}

.label-image-upload {
    padding: 0;
    align-items: center;
}

.create-post__fileinput {
    border-top: solid 1px grey;
    padding-top: 16px;
}

/*.default-css-add-file {
    display: none;
    visibility: hidden;
}*/

.icone-new-add-file {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.icone-params-posts {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 16px;
    cursor: pointer;
}

.post-info__user {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.post__name-date {
    padding:  0 16px 0 16px;
}

.user-name {
    font-weight: bold;
    margin-top: -5px;
}

.published-date {
    font-size: 12px;
    color: #7f7f7f;
}

.post-info__message {
    padding-bottom: 16px;
}

.texte-publi {
    padding-bottom: 16px;
}

.post-likes {
    padding-bottom: 16px;
}

.post-advice__buttons {
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    display: flex;
    justify-content: space-around;
}

.post-advice__comment {
    padding-top: 16px;
    display: flex;
}

.advice__comment {
    padding-top: 16px;
}

@media (max-width:605px) {
    body {
        font-size: 16px;
    }

    input, button, textarea {
        font-size: 16px;
    }
    
    .post {
        width: 100%;
    }

    .advice-buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 14px;
    }

    .advice-buttons svg {
        margin: 0;
    }
}

.comment-info__user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-user-name {
    font-weight: bold;
    font-size: 18px;
}

.comment-text {
    background-color: #F0F2F5;
    border-radius: 1rem;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    width: 100%;
}

.comment-textarea {
    margin-bottom: -5px;
}

.label-comment {
    width: 100%;
    padding: 0;
}

.create-comment__btn {
    margin-left: 10px;
}



/* Réglages pour le dropdown menu */
.menu-trigger FontAwesomeIcon{
    position: absolute;
    top: 20px;
    right: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
  }
  
  .dropdown-menu{
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    z-index: 999;
  }
  
  .dropdown-menu::before{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    content: '';
    position: absolute;
    top: -10px;
    right: 10px;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 7px;*/
    z-index: 0;
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
  }
    
  .dropdown-menu ul li{
    padding: 10px  0;
    /*border-top: 1px solid rgba(0, 0, 0, 0.05);*/
    z-index: 1;
  }

  .dropdown-menu ul li:hover {
    background-color: #F0F2F5;
    border-radius: 8px;
  }
  
  .dropdown-menu ul li:hover a{
    color: black;
    cursor: pointer;
  }
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 500ms;
  }
  
  .dropdownItem a{
    max-width: 150px;
    margin-left: 10px;
    transition: 500ms;
    font-size: 16px;
    font-weight: bold;
    color : rgba(var(--first-color), 1);
  }





  