@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --first-color: 78, 81, 102;
    --second-color: 253, 45, 1;
    --third-color: 255, 215, 215;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgba(var(--first-color), 1);
}

body {
    min-height: 100vh;
    
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

section.row {
    display: flex;
    width: 100%;
  }

main {
    width: 100%;
    height: 100vh;
}

img {
    width: 100%;
}

.logo-groupomania {
    width: 300px;
}

.logo-groupomania-1-2 {
    width: 500px;
}

.user-default-image {
    width: 2.1rem;
    height: 2.1rem;
}



.icon-bar {
    width: 100%; /* Full-width */
    background-color: rgba(var(--first-color), 1); /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white !important; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
  .icon-bar a:hover {
    background-color: black; /* Add a hover color */
    color: white;
  }
  
  .active {
    background-color: black; /* Add an active/current color */
    color: white !important;
  }





.bg-light-grey {
    background-color: #F0F2F5;
}

/*.light-background {
    background-color: white;
}*/

.dark-image-background {
    color: white;
    background: url(../../frontend/public/team-groupomania-1920x1281.jpg) rgba(var(--first-color), 0.7);
    background-size: cover;
    background-blend-mode: multiply;
}
  
.column {
    flex: 50%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.column_image-title {
    align-items: center;
    justify-content: center;
}

.groupomania-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.column_form {
    padding: 5rem;
    background-color: rgba(255, 255, 255, 1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    /*padding-bottom: 1rem;*/
}

a, a:visited {
    color: black;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 2rem;
  border-color: rgba(var(--first-color), 1);
}

h1.form-title{
    text-align: center;
}

p.form-redirection{
    text-align: center;
}

label,
button {
  padding: 0.5rem 0.7rem;
}

button {
  background-color: rgba(var(--first-color), 1);
  color: white;
}

li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.icone-a-gauche {
    margin-right: 10px;
}

.icone-a-droite {
    margin-left: 10px;
}








.posts {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    width: 55%;
    margin: 50px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
        -moz-transform: translateY(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
     }
    }

.create-post__div {
    display: flex;
    justify-content: space-between;
}

.create-post__message {
    padding-bottom: 16px;
}

.create-post__user-image {
    width: 10%
}

/*.create-post__text {
    width: 85%;
}*/

.create-post__text textarea {
    background-color: #F0F2F5;
    border-color: none;
    border-radius: 8px;
    width: 100%;
}

.create-post__fileinput {
    border-top: solid 1px grey;
    padding-top: 16px;
}

.default-css-add-file {
    display: none;
    visibility: hidden;
}

.icone-new-add-file {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.icone-params-posts {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 16px;
    cursor: pointer;
}

.post-info__user {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.post__name-date {
    padding:  0 16px 0 16px;
}

.user-name {
    font-weight: bold;
    margin-top: -5px;
}

.published-date {
    font-size: 12px;
    color: #7f7f7f;
}

.post-info__message {
    padding-bottom: 16px;
}

.texte-publi {
    padding-bottom: 16px;
}

.post-likes {
    padding-bottom: 16px;
}

.post-advice__buttons {
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    display: flex;
    justify-content: space-around;
}

.post-advice__comment {
    padding: 16px 16px 0 16px;
}

.comment-info__user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-user-name {
    font-weight: bold;
    font-size: 18px;
}

.comment-text {
    background-color: #F0F2F5;
    border-radius: 1rem;
    padding: 8px 10px;
    font-size: 18px;
}