@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --first-color: 78, 81, 102;
    --second-color: 253, 45, 1;
    --third-color: 255, 215, 215;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: rgba(var(--first-color), 1);
}

body {
    min-height: 100vh;
    
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

section.row {
    display: flex;
    width: 100%;
  }

main {
    width: 100%;
    height: 100vh;
}

/*.light-background {
    background-color: white;
}*/

.dark-image-background {
    color: white;
    background: url(../../frontend/public/team-groupomania-1920x1281.jpg) rgba(var(--first-color), 0.7);
    background-size: cover;
    background-blend-mode: multiply;
}
  
.column {
    flex: 50%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.column_image-title {
    align-items: center;
    justify-content: center;
}

.groupomania-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.column_form {
    padding: 5rem;
    background-color: rgba(255, 255, 255, 1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: black;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 2rem;
  border-color: rgba(var(--first-color), 1);
}

h1.form-title{
    text-align: center;
}

p.form-redirection{
    text-align: center;
}

label,
button {
  margin-top: 1rem;
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
  background-color: rgba(var(--first-color), 1);
  color: white;
}

li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}